@use "../variables" as *;
@use "sass:color";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    &.modal--active {
        display: flex;
    }
    
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bg-overlay;
    }
    
    &__container {
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 600px;
        height: 493px;
        position: relative;
        border-radius: $border-radius-modal;
        background: $bg-secondary;
        box-shadow: $shadow;
        z-index: 1001;
    }

	 &__close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 32px;
        top: 32px;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: $text-secondary;
        transition: color 0.2s ease;
        
        &:hover {
            color: $text-primary;
        }
    }
    
    &__close-icon {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }
    
    &__logo-container {
        width: 170px;
        height: 205px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden; 
        position: relative;
    }
    
    &__logo {
        max-width: 100%;
        max-height: 100%;
        object-fit:fill;
    }
    
    &__message {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
    }
    
    &__title {
        align-self: stretch;
        color: $text-primary;
        text-align: center;
        font-family: $font-family-base;
        font-size: $font-size-modal-title;
        font-style: normal;
        font-weight: $font-weight-semibold;
        line-height: $line-height-modal-title;
        margin: 0;
    }
    
    &__subtitle {
        color: $text-secondary;
        text-align: center;
        font-family: $font-family-base;
        font-size: $font-size-modal-subtitle;
        font-style: normal;
        font-weight: $font-weight-regular;
        line-height: $line-height-modal-subtitle;
        margin: 0;
    }
    
    &__button {
        display: flex;
        width: 240px;
        height: 60px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: $border-radius-card;
        background: $accent-primary;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
        
        color: $bg-secondary;
        text-align: center;
        font-family: $font-family-base;
        font-size: $font-size-button;
        font-style: normal;
        font-weight: $font-weight-semibold;
        line-height: $line-height-button;
        
        &:hover {
            background: color.adjust($accent-primary, $lightness: -10%);
        }
        
        &:active {
            background: color.adjust($accent-primary, $lightness: -15%);
        }
    }
}
