@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    justify-content: center;
    align-items: center;

    &.modal--active {
        display: flex;
    }
    
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bg-overlay;
    }
    
    &__container {
        @include flex-center(column, 40px);
        padding: 40px;
        width: 600px;
        height: 493px;
        position: relative;
        border-radius: $border-radius-modal;
        background: $bg-secondary;
        box-shadow: $shadow;
        z-index: 1001;

        @media (max-width: 515px) {
                width: calc(100% - 40px);
                padding: 16px;
                height: auto;
            }
    }

	 &__close {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 32px; //либо через ремы
        top: 32px;
        background: none;
        border: none;
        cursor: pointer;
        @include flex-center();
        flex-shrink: 0;
        color: $text-secondary;
        transition: color 0.2s ease;
        
        &:hover {
            color: $text-primary;
        }

         @media (max-width: 515px) {
                right: 16px;
                top: 16px;
            }
    }
    
    &__close-icon {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }
    
    &__logo-container {
        width: 170px;
        height: 205px;
        @include flex-center();
        overflow: hidden; 
        position: relative;
    }
    
    &__logo {
        max-width: 100%;
        max-height: 100%;
        object-fit:fill;
        transform: translateY(10px) scale(1.1);
    }
    
    &__message {
        @include flex-center(column, 16px);
        align-items: flex-start;
        align-self: stretch;
    }
    
    &__title {
        @include text($font-size-modal-title, $font-weight-semibold, $text-primary);
        align-self: stretch;
        text-align: center;
        line-height: $line-height-modal-title;
    }
    
    &__subtitle {
        @include text($font-size-modal-subtitle, $font-weight-regular, $text-secondary);
        text-align: center;
        font-style: normal;
        line-height: $line-height-modal-subtitle;

        @media (max-width: 515px) {
            font-size: $font-size-base;
        }
    }
    
    &__button {
        @include flex-center(row, 10px);
        width: 240px;
        height: 60px;
        padding: 10px;
        border-radius: $border-radius-card;
        background: $accent-primary;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
        
        @include text($font-size-button, $font-weight-semibold, $bg-secondary);
        text-align: center;
        line-height: $line-height-button;
        
        &:hover {
            background: color.adjust($accent-primary, $lightness: -10%);
        }
        
        &:active {
            background: color.adjust($accent-primary, $lightness: -15%);
        }
    }
}
