@use "variables" as *;

html {
    font-family: $font-family-base;
}

body {
    background-color: $bg-primary;
    color: $text-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
}
