@use "variables" as *;

@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    @if $gap > 0 {
        gap: $gap;
    }
}

@mixin text($size: $font-size-md, $weight: $font-weight-regular, $color: $text-primary) {
    font-family: $font-family-base;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-style: normal;
    margin: 0;
}