$text-primary: #fff;
$text-secondary: #111722;

$accent-primary: #0B457F;
$accent-secondary: #fff;

$h1-font-size:   40px;
$h2-font-size:   30px;

$font-size-lg:   18px;
$font-size-md:   14px;

$font-size-base: 15px;